# Numpy

In [1]:
import numpy as np

## Vectorized Operations

Doing addition with every single list element requires a loop or a list comprehension:

In [2]:
[1, 2, 3] + 2

TypeError: can only concatenate list (not "int") to list

Numpy can make this, and almost any other operation easier (**vectorized**):

In [4]:
a = np.array([1, 2, 3, 4, 5])

In [12]:
a

array([3, 4, 5, 6, 7])

In [11]:
a += 2

In [13]:
a - 10

array([-7, -6, -5, -4, -3])

In [14]:
a * 2

array([ 6,  8, 10, 12, 14])

In [15]:
a / 20

array([0.15, 0.2 , 0.25, 0.3 , 0.35])

In [16]:
a

array([3, 4, 5, 6, 7])

In [17]:
a == 5

array([False, False,  True, False, False])

In [18]:
a < 5

array([ True,  True, False, False, False])

In [19]:
a >= 6

array([False, False, False,  True,  True])

## Indexing

In [20]:
a

array([3, 4, 5, 6, 7])

In [21]:
a[0]

3

In [22]:
a[:3]

array([3, 4, 5])

Comparison operators produce boolean lists, or *masks*. These masks can be used to index into arrays to extract only the elements where the mask is true.

Demo:

1. Create a boolean mask
2. Index into the array
3. Negate the mask

In [25]:
mask = [True, True, True, False, False]
a[mask]

array([3, 4, 5])

In [26]:
a

array([3, 4, 5, 6, 7])

In [27]:
a < 5

array([ True,  True, False, False, False])

In [28]:
a[a < 5]

array([3, 4])

In [29]:
a[a > 5]

array([6, 7])

In [32]:
a[a % 2 == 1]

array([3, 5, 7])

In [31]:
odd_number_filter = a % 2 == 1
a[odd_number_filter]

array([3, 5, 7])

In [34]:
# a <= 3 or a > 6
a[(a <= 3) | (a > 6)]

array([3, 7])

For comparing numpy arrays, you **cannot** use `and` / `or` / `not`.

Instead use:

- `&`: and
- `|`: or
- `~`: not

In [35]:
elements_less_than_3 = a <= 3
greater_than_6 = a > 6

In [36]:
elements_less_than_3

array([ True, False, False, False, False])

In [37]:
greater_than_6

array([False, False, False, False,  True])

In [38]:
elements_less_than_3 | greater_than_6

array([ True, False, False, False,  True])

In [39]:
~ elements_less_than_3

array([False,  True,  True,  True,  True])

In [42]:
a[elements_less_than_3 | greater_than_6]

array([3, 7])

In [44]:
a[(a <= 3) | (a > 6)]

array([3, 7])

## Methods

- `min`
- `max`
- `sum`
- `std`
- `any`, `all`

In [45]:
a

array([3, 4, 5, 6, 7])

In [46]:
a.min()

3

In [47]:
a.max()

7

In [48]:
a.sum()

25

In [49]:
a.std()

1.4142135623730951

- `.all` -- every single element is `True`
- `.any` -- at least one element is `True`

In [52]:
# Are all the elements in a less than 10?
(a < 10).all()

True

In [54]:
# Are there any negative numbers?
(a < 0).any()

False

## More Examples

In [55]:
# Generate 1000 random numbers between 1 and 100
np.random.seed(123)
a = np.random.randint(1, 101, 1000)

In [56]:
a

array([ 67,  93,  99,  18,  84,  58,  87,  98,  97,  48,  74,  33,  47,
        97,  26,  84,  79,  37,  97,  81,  69,  50,  56,  68,   3,  85,
        40,  67,  85,  48,  62,  49,   8, 100,  93,  53,  98,  86,  95,
        28,  35,  98,  77,  41,   4,  70,  65,  76,  35,  59,  11,  23,
        78,  19,  16,  28,  31,  53,  71,  27,  81,   7,  15,  76,  55,
        72,   2,  44,  59,  56,  26,  51,  85,  57,  50,  13,  19,  82,
         2,  52,  45,  49,  57,  92,  50,  87,   4,  68,  12,  22,  90,
        99,   4,  12,   4,  95,   7,  10,  88,  15,  84,  71,  13,  55,
        28,  39,  18,  62,  75, 100, 100,  66,  48,  17,   6,  87,  47,
        16,  60,  41,  26,  46,  50,   1,  36,  30,   2,  84,  69,  31,
         8,  94,  61,  66,  77,  68,  45,  52,   8,  89,  71,  14,  29,
        64,  85,  37,  97,  41,  89,  64,  59,  78,   9,  79,   7,  66,
        95,  71,  41,  75,  77,  77,  26,   8,  14,  45,   2,  42,  79,
        57,  88,  64,  98,   4,  18,  89,  88,  70,  98,  51,   3,  19,
        47,  46,  58,  36,  19,  92,  47,  55,  74,  82,  63,  68,  12,
        27,  93,  76,  11,   4,  46,  59,  60,  24,  26,  28,  58,   4,
       100,  79,  86,  60,  49,  57,  88,  88,   5,  70,  57,  61,  10,
        67,  34,  70,  10,  80,  29,  67,  11,   4,  49,   4,  24,  92,
        56,  35,  38,  50,  88,  86,  26,  18,  59,  67,  46,  11,   9,
        97,  26, 100,  68,  66,   8,  71, 100,  98,  40,  83,  93,  39,
         6,  10,  41,  69,  88,  22,  90,  51,  37,  45,  93, 100,  84,
        82,  62,  15,  79,  24,  63,  29,  81,  25,  16,  50,  81,  85,
        91,   5,  22,  33,  40,   2,  99,  83,  91,  36,  59,  39,   2,
        53,  18,  46,  23,  54,  90,  75,   1,  36,  84,  95,  72,  40,
        88,  84,  79,  30,  20,  38,   2,   6,  82,  36,  78,  26,  98,
        94,  71,  59,  30,  82,  22,  17,  31,  56,  81,  31,  13,  91,
        84,  17,  93,  39,  99,   8,  38,  15,   1,  97,   3,  38,  48,
        63,  62,  15,  62,  82,  38,  95,  20,  59,   7,  91,  72,  78,
        79,  71,  97,  52,  98,   4,   1,  78,  95,  38,  53,  84,   3,
        99,  97,  15,   3,  92,  91,  33,  83,  56,  33,  31,   4,  96,
        92,  80,  92,  79,  22,  31,  60,  85,  32,  71,  97,   8,  78,
        62,  89,  96,  28,  66,  17,  91,   2,   8,  38,  20,  64,  21,
        90,  31,  84,  70,  15,  57,   1,  90,  29,  66,  22,  61,  29,
         9,  41,  21,  55,  96,  96,  40,  26,  48,  77,   3,  96,  33,
        97,  42,  77,  43,  70,   4,  64,  70,  51,  67,  91,  84,  18,
        20,  30,  74,  52,  23,  47,   3,  50,   9,  19,  36,  40,  27,
        92,  72,  72,  82,  21,  13,  27,  62,  40,  53,  80,  40,   9,
        27,  81,   3,  56,  53,   4,  40,  52,  56,  65,  78,  72,  71,
        30,  25,  39,  80,  75,  25,  33,  63,  54,  51,  85,  52,  52,
        74,  56,  73,   1,  98,  31,  21,  24,  19,  61,  60,  85,  25,
        20,  26,   7,  67,  56,  72,  94,  11,  72,  17,  72,  47,  44,
        64,  30,  43,  16,   4,  85,  50,  34,  35,  64,  13,  27,  72,
        41,  42,  29,  16,  53,  46,  69,  37,  60,  74,  15,  21,  34,
        86,  86,   9,  26,  77,  18,   1,  23,  33,  47,  95,  21,  87,
        80,  61,  27,  63,  52,  64,  14,  47,   7,  76,  28,   3,  22,
        85,  63,  29,  20,  67,  91,  85,  33,  94,  48,  41,   9,  48,
        87,  54,  23,  65,  21,  32,  26,  33,  60,   9,  81,  70,  46,
         7,   7,  69,  33,  10,  81,  28,  47,  46,  22,  21,  56,  32,
        32,  36,  31,  70,  54,  21,  35,  78,  23,  42,  24,  94,  74,
        69,  42,  30,  71,   6,  72,  52,  90,  82, 100,  26, 100,  41,
        68,  54,  60,  77,  55,  24,  95,  86,  40,  82,  64,  34,  87,
        39,   1,  20,  25,   6,  94,  84,  73,  82,   3,  36,  70,  38,
        65,  83,  38,  28,  47,  73,  47,  10,  88,  90,  72,   5,  13,
        86,  34,  25,  23,  85,   3,   8,  46,  62,  39,  51,  22,  45,
        75,  23,  49,  80,  51,  28,  99,  29,  59,  70,  78,  93,  28,
        74,  47,   4,  88,   2,  64,  29,  89,  95,  47,  15,  38,  97,
        49,  72,  40,  16,  34,   6,  87,  53,  21,  99,  29,  99,   2,
        97,  26,  44,  96,  18,  98,  30,  23,  48,  55,  84,  23,  40,
        64,  72,  14,  87,  78,   2,   4,  88, 100,   9,  16,  96,  32,
        27,  15,  68, 100,  25,  15,  12,  71, 100,  24,  70,  41,  60,
        31,  21,  60,  75,  80,  78,  89,  14,  82,  14,  24,  72,  25,
        98,  28,  88,  18,  57,  98,  42,  67,  12,  36,  69,  83,  76,
        91,  17,  43,  92,  40,  22,  64,  10,   6,  17,  76,  63,  70,
        86,  50,  80,  68,  25,  33,   1,  79,  17,  43,  58,  19,  54,
        83,  84,   1,  87,  16,  24,  84,  79,  64,  58,  24,  58,  64,
        41,  33,  96,  58,  56,  95,  15,  65,  12,  35,  37,  30,  90,
        11,  60,  32,   2,  10,  46,  22,  73,  55,  59,  30,  53,  89,
        21,  82,  20,  80,  39,  35,  29,  56,  94,  55,  53,  48,  67,
        55,  32,  58,  78,  90,  69,  28,  72,  97, 100,  60,  13,  84,
        18,  51,  50,  84,  43,  97,  85,  46,  24,  92,   5,  30,  43,
        53,  24,  14, 100,  36,  26,  13,  21,  90,  98,  40,  78,  85,
        43,  59,  49,  47,  19,  12,  36,  94,  33,  87,  62,  41,  77,
        92,  92,  19,  31,  50,  42,  17,  92,  68,   6,  60,  19,  58,
        87,  40,  45,  42,  70,  24,  22,  53,  85,  78,  24,  25,  17,
        35,  81,  56,  28,  66,  34,  65,   3,  59,  56,  22,  42,   4,
        79, 100,  12,  37,  41,  58,  63,  71,  95,   5,  91,  89,  17,
        28,  27,  53,  26,  49,  93,  60,  27,  81,  38,  80,   9])

We can use numpy to answer some questions:

In [57]:
# 1. How many data points are there?
a.shape

(1000,)

In [61]:
# 2. How many data points are greater than 70? (.shape + .sum)
a[a > 70].shape

(311,)

In [66]:
# 2. How many data points are greater than 70?
(a > 70).sum()

311

In [68]:
# 3. What is the sum of the odd numbers?
a[a % 2 == 1].sum()

23401

In [78]:
a[a < 10].shape

(91,)

In [72]:
# 4. Take all the numbers between 30 and 80 (inclusive), square them, what is the highest resulting number?
(a[(a >= 30) & (a <= 80)] ** 2).max()

6400

In [79]:
# 4. Take all the numbers between 30 and 80 (inclusive), square them, what is the highest resulting number?
more_than_30 = a >= 30
less_than_80 = a <= 80

in_our_desired_range = more_than_30 & less_than_80

desired_numbers = a[in_our_desired_range]
desired_numbers_squared = desired_numbers ** 2

desired_numbers_squared.max()

6400

`np.where` will produce values conditionally, based on a boolean array

In [80]:
# 5. Square the odd numbers in the array. What is the average of the resulting data set? (np.where)
odd_numbers_squared = np.where(a % 2 == 1, a ** 2, a)

odd_numbers_squared.mean()

1595.057

In [83]:
# 6. Square the even numbers in the array. Remove any odd number less than 40.
#    Double odd numbers greater than 80. What is the sum of the resulting dataset?
evens_squared = np.where(a % 2 == 0, a ** 2, a)
x = evens_squared[(evens_squared % 2 == 1) & (evens_squared < 40)]
x = np.where(x % 2 == 1, x * 2, x)
x.sum()

7740

## Matrices

- construction
- manipulating
- axis=

In [ ]:
m = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]